
<div>
    <h2>菜场详情<span> <img ng-src="data:image/jpg;base64,{{provideMerchant.providePhoto}}"  width="40" height="40"/></span></h2>
    <a class="col-lg-offset-10" ngf-select="upload($file)" ng-model="file" name="file"
       ngf-max-size="20MB" ngf-min-height="100" ngf-allow-dir="false"
       ngf-resize="{width: 100, height: 100}">
        增加菜场图片
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>字段</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                  <td>英文名称</td>
                  <td>{{provideMerchant.name}}</td>
              </tr>
              <tr>
                  <td>菜场名称</td>
                  <td>{{provideMerchant.chineseName}}</td>
              </tr>
              <tr>
                  <td>描叙</td>
                  <td>{{provideMerchant.description}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <div class="panel-heading">
        <h5>提供菜品列表</h5>
        <a class="back col-md-offset-9" ui-sref="provideDish.new({id:provideMerchant.id})">增加菜品</a>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="info col-md-1">No.</th>
            <th class="info col-md-4">name</th>
            <th class="info col-md-2">单价</th>
        </tr>
        <tr ng-repeat="provideDish in provideMerchant.provideDishs">
            <td  class="col-md-1" >{{$index + 1}}</td>
            <td  class="col-md-4">{{provideDish.name}}</td>
            <td  class="col-md-2">{{provideDish.price}}</td>
        </tr>
    </table>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
