
<div>
    <h2>菜场详情<span> <img ng-src="data:image/jpg;base64,{{provideMerchant.providePhoto}}"  width="40" height="40"/></span></h2>
    <a class="col-lg-offset-10" ngf-select="upload($file)" ng-model="file" name="file"
       ngf-max-size="20MB" ngf-min-height="100" ngf-allow-dir="false"
       ngf-resize="{width: 100, height: 100}">
        增加菜场图片
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>字段</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                  <td>英文名称</td>
                  <td>{{provideMerchant.name}}</td>
              </tr>
              <tr>
                  <td>菜场名称</td>
                  <td>{{provideMerchant.chineseName}}</td>
              </tr>
              <tr>
                  <td>描叙</td>
                  <td>{{provideMerchant.description}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <div class="panel-heading">
        <h5>提供菜品列表</h5>
        <a class="back col-md-offset-9" ui-sref="provideDish.new({id:provideMerchant.id})">增加菜品</a>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="info col-md-1">No.</th>
            <th class="info col-md-4">name</th>
            <th class="info col-md-4">名称</th>
            <th class="info col-md-2">单价</th>
            <th class="info col-md-2">操作</th>
        </tr>
        <tr ng-repeat="provideDish in provideMerchant.provideDishs">
            <td  class="col-md-1" >{{$index + 1}}</td>
            <td  class="col-md-4">{{provideDish.name}}</td>
            <td  class="col-md-4">{{provideDish.chineseName}}</td>
            <td  class="col-md-2">{{provideDish.price}}</td>
            <td>
                <button type="submit"
                          ui-sref="provideDish.edit({pmid:provideMerchant.id,id:provideDish.id})"
                          class="btn btn-primary btn-sm">
                   <span class="glyphicon glyphicon-pencil"></span>
                  <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                </button>
            </td>
        </tr>
    </table>

    <div class="panel-heading">
        <h5>显示菜品列表</h5>
        <a class="back col-md-offset-9" ui-sref="dish.new({id:provideMerchant.id})">增加商用菜品</a>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="info col-md-1">No.</th>
            <th class="info col-md-1">英文名</th>
            <th class="info col-md-4">中文名</th>
            <th class="info col-md-2">原价</th>
            <th class="info col-md-2">售价</th>
            <th class="info col-md-2">是否热销</th>
        </tr>
        <tr ng-repeat="dish in provideMerchant.dishs">
            <td  class="col-md-1" >{{$index + 1}}</td>
            <td  class="col-md-1" >{{dish.name}}</td>
            <td  class="col-md-4">{{dish.chineseName}}</td>
            <td  class="col-md-2">{{dish.originalPrice}} ￥</td>
            <td  class="col-md-2">{{dish.discountPrice}} ￥</td>
            <td  class="col-md-2" ng-if="dish.isHot == 0">热销</td>
            <td  class="col-md-2" ng-if="dish.isHot == 1">不热销</td>
        </tr>
    </table>
    <button type="submit"
            ui-sref="provideMerchant"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
