<div>
    <h2  class="col-lg-offset-5">订单管理</h2>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>订单所属用户</th>
                    <th>消费金额</th>
                    <th>配送方式</th>
                    <th>订单状态</th>
                    <th>详情</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders track by order.id">
                    <td ui-sref="order.detail({id:order.id})">{{$index + 1}}</td>
                    <td ui-sref="order.detail({id:order.id})">{{order.username}}</td>
                    <td ui-sref="order.detail({id:order.id})">{{order.totalPrice}} ￥</td>
                    <td ui-sref="order.detail({id:order.id})">{{deliveryWay[order.deliveryWay]}}</td>
                    <td ui-sref="order.detail({id:order.id})">{{orderStatus[order.orderStatus]}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="order.detail({id:order.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <!--<button type="submit"-->
                                    <!--ui-sref="order.edit({id:order.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>-->
                            <!--</button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
